<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div>
  <%= link_to "Tweet", "http://twitter.com/share?url=http%3A%2F%2Fgetyourlaunchbox.heroku.com/#{@user.link}", :class => "twitter-share-button" %>
</div>

