<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Please confirm your email to complete the sign up process to this website: <%= @website_name %>.</h1>
    <p>
      <br/>
    </p>
    <p>
      To confirm, just follow this link: <%= "getyourlaunchbox.com/confirm/#{@confirmation_code}" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
