<h1>Welcome <%= @admin.email %>!</h1>
<% @admin.websites.each do |site| %>
	<%= "Your website url is:" %>
	<%= link_to "www.getyourlaunchbox.heroku.com/#{site.url}", "http://getyourlaunchbox.heroku.com/#{site.url}" %>
<% end %>
