<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited to <%= @website_name %> by <%= @sender_email %>!</h1>
    <p>
      <br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= "gethypebox.com/#{@sender_link}" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
